<button mat-stroked-button color="warn" [routerLink]="['new']">Add article</button>
<div class="List">
  <table mat-table [dataSource]="articles$ | async">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef> content</th>
      <td mat-cell *matCellDef="let element"><span class="ArticleContent">{{element.content}}</span></td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Created at</th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'medium' }} </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator *ngIf="pagination$ | async as paging"
                 [length]="paging.length"
                 [pageSize]="paging.pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="setPage($event)">
  </mat-paginator>
</div>
