<h1 mat-dialog-title>Add todo</h1>
<div mat-dialog-content>
  <form [formGroup]="todoForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input type="text" matInput formControlName="title" placeholder="Title">
      <mat-error *ngIf="todoForm.get('title').valid">Title required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descriptipion</mat-label>
      <textarea matInput formControlName="description" placeholder="Description"></textarea>
      <mat-error *ngIf="todoForm.get('description').valid">Description required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" placeholder="Status">
        <mat-option [value]="statuses.TODO">Todo</mat-option>
        <mat-option [value]="statuses.ACTIVE">Active</mat-option>
        <mat-option [value]="statuses.DONE">Done</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>User</mat-label>
      <mat-select formControlName="userId" placeholder="Status">
        <mat-option *ngFor="let user of users$ | async"
                    [value]="user.id">{{user.first_name}} {{user.last_name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="addTodo(todoForm.value)">Add</button>
</div>
